@import "tailwindcss";

@theme {
  --background-home: url("./assets/home/background-home-desktop.jpg");
  --background-destination: url("./assets/destination/background-destination-desktop.jpg");
  --background-crew: url("./assets/crew/background-crew-desktop.jpg");
  --background-technology: url("./assets/technology/background-technology-desktop.jpg");
}

body {
  color: white;
  background-repeat: no-repeat;
  overflow: hidden;
}
